.toggle-label {
    display: inline-block;
    width: 50px;
    height: 24px;
    background-color: #ccc;
    border-radius: 24px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-ball {
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .toggle-label .toggle-ball {
    transform: translateX(26px);
}

input[type="checkbox"]:checked + .toggle-label {
    background-color: #66bb6a;
}
