<!DOCTYPE html>

<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cadastrar Filme</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" /> 
        <link rel="stylesheet" th:href="@{/css/CadastroFilmeCss.css}" />     
        <link rel="stylesheet" th:href="@{/css/ChangeThemeCss.css}" /> 
    </head>

    <body>
        <!--TOPO DA PÁGINA-->
        <header th:insert="~{TopoEstatico.html :: nav}"></header>

        <!--CONTAINER DE CONTEÚDO DA PÁGINA-->
        <div class="container-fluid">
            <div class="row">

                <!-- ESPAÇO EM BRANCO -->
                <div class="col-sm-1">

                </div>

                <div class="col-sm-6" style="margin-top:18vh;">
                    <p class="h1 ml-3" style="color:#0056b3; font-weight: bold;">Cadastre um novo filme!</p>

                    <!--FORMULÁRIO PARA CADASTRO DE FILME-->
                    <form id="formCadastro"  th:action="@{/CadastroFilme}" th:object="${filme}" method="post"> 

                        <!--Campo para digitar título-->
                        <div class="mb-3"> 
                            <p class="text">Título: 
                                <input id="titulo" required class="form-control" type="text" th:field="*{titulo}"  placeholder="Digite o título"/> 
                                <span 
                                    id="spanTitulo" class="text-danger" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></span>
                            </p>
                        </div> 

                        <!--Campo para digitar sinopse-->
                        <div class="mb-3"> 
                            <p class="text">Sinopse: 
                                <input id="sinopse" required class="form-control"  type="text" th:field="*{sinopse}" placeholder="Digite a sinopse"/> 
                                <span 
                                    class="text-danger" th:if="${#fields.hasErrors('sinopse')}" th:errors="*{sinopse}"></span>
                            </p>
                        </div>

                        <!--Campo para escolher gênero-->
                        <div class="mb-3"> 
                            <p class="text"> Gênero:
                                <select id="genero" class="form-control" th:field="*{genero}">
                                    <option value="">Escolha uma opção...</option>
                                    <option value="Ação e aventura">Ação e aventura</option>
                                    <option value="Drama">Drama</option>
                                    <option value="Romance">Romance</option>
                                    <option value="Terror">Terror</option>
                                    <option value="Ficção científica">Ficção Científica</option>
                                    <option value="Comedia">Comédia</option>
                                </select>
                            </p>
                        </div>

                        <!--Campo para digitar ano de lançamento-->
                        <div class="mb-4"> 
                            <p class="text">Data de lançamento: 
                                <input id="dataLanc" required class="form-control"  type="number" th:field="*{ano_lancamento}"/> 
                                <span 
                                    id="spanDataLanc" class="text-danger" th:if="${#fields.hasErrors('ano_lancamento')}" th:errors="*{ano_lancamento}"></span>
                            </p>
                        </div>

                        <!--Botão para abrir modal de confirmação-->
                        <div class="col-12 mb-5">
                            <button type="button" id="abrirModal" class="btn btn-primary btn-block" data-toggle="modal">Cadastrar</button>
                        </div>

                    </form>   
                    <!--FIM DO FORM-->         
                </div>

                <!-- BOTÃO PARA ALTERAR TEMA DO SITE -->
                <div class="col-sm-3 text-right" style="margin-top:18vh;">
                    <p class="text" style="font-weight: 500">Tema</p>
                    <div class="theme-toggle">
                        <input type="checkbox" id="toggle-checkbox">
                        <label for="toggle-checkbox" class="toggle-label">
                            <span class="toggle-ball"></span>
                        </label>
                    </div>
                </div>

                <!--IMAGEM LATERAL-->
                <div class="col-sm-2 position-relative d-none d-sm-block" style="height: 110vh;margin-bottom: 0;margin-top:5vh;">
                    <img id="fundo" th:src="@{/images/background.png}" alt="fundo" class="img-fluid position-absolute top-0 end-0 h-100">
                </div>
            </div>
        </div>

        <!--MODAL PARA CADASTRAR OU CANCELAR-->
        <div class="modal fade" id="confirmarModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!--CABEÇALHO-->
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmação de cadastro de filme</h5>
                        <button type="button" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <!--CORPO-->
                    <div class="modal-body">
                        Tem certeza que deseja cadastrar este filme?
                    </div>
                    <!--RODAPÉ-->
                    <div class="modal-footer">
                        <!--BOTÃO PARA CANCELAR CADASTRO-->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <!--BOTÃO PARA ENVIO DO FORM-->
                        <button id="btnCadastrar" form="formCadastro" class="btn btn-primary" type="submit">Confirmar</button>                  
                    </div>
                </div>
            </div>
        </div>       

        <script th:src="@{/jquery.js}"></script> 
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/CadastroFilmeJs.js}"></script> 
        <script th:src="@{/js/ChangeThemeJs.js}"></script>
    </body>
</html>
